.conditions {
   // .conditions__wrapper
   &__wrapper {
      padding: 41px 0px 48px 0px;
   }
   // .conditions__container
   &__container {
   }
   // .conditions__title
   &__title {
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      text-align: center;
      margin-bottom: 12px;
   }
   // .conditions__subtitle
   &__subtitle {
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      color: $grayColor;
      margin-bottom: 48px;
   }
   // .conditions__info
   &__info {
   }
}
.body-conditions {
   display: flex;
   flex-wrap: wrap;
   margin: 0px -16px;
   @media (max-width: $md3+px) {
      margin: 0px -5px;
   }
   @media (max-width: 740px) {
      justify-content: center;
   }
   // .body-conditions__item
   &__item {
      padding: 0px 16px;
      border-radius: 4px;
      flex: 0 1 50%;
      margin-bottom: 40px;
      @media (max-width: $md3+px) {
         padding: 0px 5px;
      }
      @media (max-width: 740px) {
         flex: 0 1 600px;
      }
   }
}
.content-conditions {
   border: 1px solid #e0e0e0;
   position: relative;
   display: flex;
   height: 100%;
   min-height: 90px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;

   &__wrapp {
      position: absolute;
      left: calc(50% - 72px / 2);
      top: -36px;
      justify-content: center;
      align-items: center;
   }
   // .content-conditions__number
   &__number {
      position: relative;
      width: 72px;
      height: 72px;
      p {
         position: absolute;
         z-index: 3;
         font-family: PT Serif;
         font-weight: bold;
         color: $blueColor;
         font-size: 48px;
         line-height: 64px;
         top: 4px;
         left: calc(50% - 50px / 2);
      }
      &:after {
         content: "";
         position: absolute;
         background-color: #fff;
         top: 0;
         left: 0;
         width: 72px;
         height: 72px;
         border-left: 1px solid white;
         border-right: 1px solid #e0e0e0;
         border-top: 1px solid white;
         border-bottom: 1px solid #e0e0e0;
         -moz-border-radius: 50px 50px 50px 50px;
         border-radius: 50px 50px 50px 50px;
         transform: rotate(45deg);
      }
   }
   // .content-conditions__text
   &__text {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (max-width: $md3+px) {
         @include adaptiv-value("font-size", 16, 14, 1);
      }
      line-height: 140%;
      margin: 38px 9px 10px 9px;
      @media (max-width: $md3+px) {
         margin: 38px 25px 10px 25px;
      }
      &_2 {
         padding: 0px 15px;
      }
      &_6 {
         padding: 0px 3px;
         @media (max-width: $md2+px) {
            margin: 38px 6px 10px 6px;
         }
      }
      &_7 {
         padding: 0px 30px;
      }
   }
}
.info {
   display: flex;
   background: #ffcf10;
   border-radius: 12px;
   // padding: 28px 152px 28px 280px;
   @include adaptiv-value("padding-right", 152, 13, 1);
   @include adaptiv-value("padding-left", 280, 76, 1);
   @include adaptiv-value("padding-top", 28, 20, 1);
   @include adaptiv-value("padding-bottom", 28, 14, 1);

   // padding-top: 28px;
   // padding-bottom: 28px;
   // .info__text
   &__text {
      position: relative;
      font-size: 20px;
      @include adaptiv-value("font-size", 20, 15.8, 1);
      line-height: 140%;
      &::before {
         position: absolute;
         content: "i";
         display: block;
         border: 2px solid $mainColor;
         border-radius: 50%;
         height: 40px;
         width: 40px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: Roboto Slab;
         font-size: 24px;
         // left: -71px;
         @include adaptiv-value("left", -71, -50, 1);
         // top: -6px;
      }
   }
}
