.vacancy {
   padding: 176px 0px 47px 0px;
   @media (max-width: $md4+px) {
      padding-top: 100px;
   }
   &__title {
      margin-bottom: 68px;
      display: flex;
      @media (max-width: 760px) {
         justify-content: center;
         margin-bottom: 12px;
      }
      p {
         font-size: 56px;
         line-height: 100%;
         font-weight: bold;
         @media (max-width: 760px) {
            text-align: center;
            @include adaptiv-value("font-size", 70, 25, 1);
         }
      }
   }

   &__subtitle {
      display: flex;
      @media (max-width: 760px) {
         display: block;
         span {
            display: block;
         }
      }
      p {
         font-size: 28px;
         line-height: 140%;
         @media (min-width: 760px) {
            flex: 0 1 708px;
         }

         @media (max-width: 945px) {
            flex: 0 1 391px;
            font-size: 24px;
         }
         @media (max-width: 760px) {
            flex: 0 1 708px;
         }
         @media (max-width: 760px) {
            text-align: center;
            @include adaptiv-value("font-size", 35, 15, 1);
         }
      }
      &:not(:last-child) {
         margin-bottom: 98px;
         @media (max-width: 768px) {
            margin-bottom: 72px;
         }
         @media (max-width: 760px) {
            margin-bottom: 20px;
         }
      }
   }

   &__img {
      text-align: center;
      .girl__image {
         justify-content: center;
         align-items: center;
         @media (min-width: 761px) {
            position: absolute;
            right: 0;
            top: 180px;
            z-index: -1;
         }
         @media (max-width: 760px) {
            top: 200px;
            margin-bottom: 16px;
         }
         @media (min-width: 1015px) {
            top: -20px;
         }
      }
   }
}

.vacancy__container {
   position: relative;
}

// .description-vacancy
.description-vacancy {
   display: flex;
   flex-direction: column;
   @media (max-width: 1090px) {
      max-width: 422px;
   }
   @media (min-width: 1015px) {
      max-width: 705px;
   }
   @media (max-width: 760px) {
      max-width: 100%;
      justify-content: center;
      align-items: center;
   }

   // .description-vacancy__body
   &__body {
      display: flex;
      flex-wrap: wrap;
      margin-left: -72px;
   }

   // .description-vacancy__item
   &__item {
      display: flex;
      align-items: center;
      padding-left: 72px;
      @include adaptiv-value("margin-bottom", 28, 16, 1);
      @media (min-width: 1015px) {
         flex: 0 1 50%;
      }
      @media (max-width: 760px) {
         display: block;
         text-align: center;
         flex: 0 1 100%;
      }
   }

   // .description-vacancy__star
   &__star {
      font-size: 40px;
      color: $blueColor;
      margin: 0px 12px 0px 0px;
   }

   // .description-vacancy__text
   &__text {
      font-size: 16px;
      line-height: 140%;
   }

   // .description-vacancy__footer
   &__footer {
      display: flex;
      flex-direction: column;
   }

   // .description-vacancy__salary
   &__salary {
      @include adaptiv-value("margin-top", 65, 16, 1);
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 140%;
      max-width: 324px;
      @media (max-width: 760px) {
         text-align: center;
      }
   }

   // .description-vacancy__link
   &__link {
      font-weight: bold;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      display: flex;
      @media (min-width: 768px) {
         max-width: 384px;
      }
      @media (max-width: 800px) {
         max-width: 312px;
      }
      @media (max-width: 749px) {
         max-width: 100%;
      }
   }
}
